
  <div class="card">
    <div class="card-body">
      <h4>{{artigos.titulo}}</h4>
      <small>{{artigos.data}} | {{artigos.categoria.nome}}</small>
      <hr>
      <p>{{artigos.conteudo}}</p>
    </div>
  </div>
  <br>
